﻿@{
    ViewData["Title"] = "AIR FAIR 2018 관람객 등록 명단";
}

<div id="wrapper">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>AIR FAIR 2018 [관람객] 등록 명단</strong>
                </div>
                <div class="tab-pane" id="forBuyer" style="padding: 15px;">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-forBuyer" style="font-size:10pt;">
                        <colgroup>
                            <col width="10%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>회사명</th>
                                <th>성명</th>
                                <th>이메일</th>
                                <th>등록일</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.UserList.Count > 0)
                            {
                                @foreach (var User in ViewBag.UserList)
                                {
                                    <tr>
                                        <td class="text-center"><a href="javascript:Detail('@User.code');">@User.code</a></td>
                                        <td class="text-center"><a href="javascript:Detail('@User.code');">@User.company_name</a></td>
                                        <td class="text-center"><a href="javascript:Detail('@User.code');">@User.n_name</a></td>
                                        <td class="text-center"><a href="javascript:Detail('@User.code');">@User.n_email</a></td>
                                        <td class="text-center"><a href="javascript:Detail('@User.code');">@User.reg_date</a></td>
                                        <td class="text-center"><button class="btn btn-danger" onclick="/Home/Remove?idx=@User.idx">삭제</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->

                    <div class="row text-center">
                        <button class="btn btn-primary btn-lg" onclick="location.href='excel_kor.asp';">엑셀 다운로드</button>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.해외 바이어 -->
            </div>
            <!-- .panel panel-danger -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-2"></div>
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->
